Repository ikcb/hackremind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, markdownlint --fix

ci: setup code quality analysis
  .github/workflows/codeql-analysis.yml
Due: none

feat: add boilerplate code
  .env.example
  .eslintrc.json
  .github/workflows/codeql-analysis.yml
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  app.js
  bin/www
  commitlint.config.js
  package.json
  routes/api.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

feat: set up mongoose connection
  .env.example
  .eslintrc.json
  app.js
  package.json
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

fix(eslint-config): was removing next function
  .eslintrc.json
  app.js
  routes/api.js
Due: eslint --fix, jsonlint, prettier --write

feat: created event model
  .env.example
  .eslintrc.json
  .gitattributes
  .lintstagedrc.json
  app.js
  bin/worker
  bin/www
  models/event.model.js
  package.json
  routes/api.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

feat: added clist api to worker
  app.js
  bin/worker
  bin/www
  models/event.model.js
  package.json
  routes/api.js
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

feat: add devfolio api in worker
  .eslintrc.json
  .lintstagedrc.json
  bin/worker
Due: jsonlint, prettier --write

feat: scrape data from devpost
  .eslintrc.json
  bin/worker
  package.json
  routes/api.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

fix: remove test route from API
  routes/api.js
Due: eslint --fix

perf: reduce requests to devpost
  bin/worker
Due: none

fix: remove unnecessary dependencies
  app.js
  bin/www
  package.json
  routes/api.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

chore: regenerate lock file
  yarn.lock
Due: none

chore: change branch name
  .github/workflows/codeql-analysis.yml
Due: none

fix: use got instead of node-fetch
  bin/worker
  package.json
  utils/embed-generator.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

feat: added embedd generator
  bin/worker
  package.json
  utils/embed-generator.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

Added Icons
  icons/AdventOfCodeLogo.png
  icons/BubbleCup.png
  icons/HackerEarth_logo.png
  icons/TLX.ico
  icons/atcoder.png
  icons/azspcs.png
  icons/codechef.jpg
  icons/codeforce.png
  icons/codility.png
  icons/codingame.png
  icons/ctftime.png
  icons/devfolio.png
  icons/devpost.png
  icons/dmoj.png
  icons/eOlymp.ico
  icons/facebook.webp
  icons/google.ico
  icons/hackerrank.png
  icons/icfpcontest.png
  icons/kaggle.ico
  icons/leetcode.png
  icons/openkattis.ico
  icons/projectEuler.ico
  icons/russianAICup.ico
  icons/spoj.png
  icons/topcoder.png
Due: none

fix: sanitize embeds
  bin/worker
  package.json
  utils/embed-generator.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

feat: send webhooks to discord
  .env.example
  bin/worker
Due: none

chore: upgrade dependencies
  .husky/.gitignore
  .husky/commit-msg
  .husky/post-checkout
  .husky/post-commit
  .husky/pre-commit
  .huskyrc.json
  bin/worker
  package.json
  utils/embed-generator.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

fix: use improved icons instead of old ones
  .env.example
  bin/worker
  utils/embed-generator.js
Due: eslint --fix

feat: added transparent 1px images
  assets/432x1-00000000.png
  assets/520x1-00000000.png
Due: none

feat: generate fixed-width embeds
  .eslintrc.json
  utils/embed-generator.js
Due: eslint --fix, jsonlint, prettier --write

fix: prevent grouping embeds or using brand colors
  bin/worker
  package.json
  utils/embed-generator.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

fix: downgrade node-variant from alpha release
  package.json
  yarn.lock
Due: prettier-package-json --write, jsonlint, prettier --write

feat: add support for devfolio hackathons
  bin/worker
  models/event.model.js
  utils/embed-generator.js
Due: eslint --fix

feat: upgrade to clist api/v2
  bin/worker
  icons/quora_com.png
  utils/embed-generator.js
Due: eslint --fix

feat: now sending devpost hackathons
  bin/worker
  package.json
  yarn.lock
Due: prettier-package-json --write, jsonlint, prettier --write

fix: issues with embedded images and embed-width
  bin/worker
  package.json
  utils/embed-generator.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

fix: add markdown aware truncate algorithm
  bin/worker
  package.json
  utils/embed-generator.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

fix: update hosts and add more sanitisation rules
  package.json
  utils/embed-generator.js
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write

fix: cleaned code and added more sanitisation
  .eslintrc.json
  utils/embed-generator.js
Due: eslint --fix, jsonlint, prettier --write

feat: add dare2compete as a resource
  .eslintrc.json
  .lintstagedrc.json
  bin/worker
  icons/challenges_reply_com.png
  icons/dare2compete_com.png
  utils/embed-generator.js
Due: eslint --fix, jsonlint, prettier --write

fix: change spaces in case of ordered lists
  utils/embed-generator.js
Due: eslint --fix

chore(deployment): add procfile
  Procfile
Due: none

chore(deployment): fix puppeteer configs for heroku
  utils/embed-generator.js
Due: eslint --fix

chore(deployment): reduce subsequent processes
  utils/embed-generator.js
Due: eslint --fix

chore: format eslint configuration
  .eslintrc.json
Due: jsonlint, prettier --write

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: {*.js,www}
  jsonlint: any of: {*.json,.eslintrc,.prettierrc}
  prettier --write: (any of: {*.json,.eslintrc,.prettierrc}) or (any of: *.md)
  markdownlint --fix: any of: *.md
