Repository ikcb/hackremind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, markdownlint --fix, eslint --fix --max-warnings 0

fix: remove unused exports
  src/generators/index.js
Due: eslint --fix, eslint --fix --max-warnings 0

feat: set up azure functions
  .funcignore
  .gitignore
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  Notifier/function.json
  Notifier/generators/color.generator.js
  Notifier/generators/host.generator.js
  Notifier/generators/image.generator.js
  Notifier/generators/index.js
  Notifier/generators/text.generator.js
  Notifier/generators/timestamp.generator.js
  Notifier/index.js
  Notifier/models/event.model.js
  Notifier/models/index.js
  Notifier/providers/clist.provider.js
  Notifier/providers/dare2compete.provider.js
  Notifier/providers/devfolio.provider.js
  Notifier/providers/devpost.provider.js
  Notifier/providers/index.js
  Notifier/tuners/dates.tuner.js
  Notifier/tuners/hosts.tuner.js
  Notifier/tuners/index.js
  host.json
  package.json
  proxies.json
  readme.md
  src/tuners/dates.tuner.js
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, markdownlint --fix, eslint --fix --max-warnings 0

fix: add fallback one pixel image
  Notifier/generators/image.generator.js
Due: eslint --fix, eslint --fix --max-warnings 0

Add or update the App Service deployment workflow configuration from Azure Portal.
  .github/workflows/main_hackremind.yml
Due: none

chore(cd): use yarn instead of npm
  .github/workflows/main_hackremind.yml
Due: none

fix(engines): node version
  package.json
Due: prettier-package-json --write, jsonlint, prettier --write

chore(deployment): run the function every 5 hr
  Notifier/function.json
Due: jsonlint, prettier --write

fix: done something
  .vscode/settings.json
  Notifier/index.js
Due: eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

chore: stop deployment for now
  .funcignore
  .github/workflows/codeql-analysis.yml
  .github/workflows/main_hackremind.yml
  Notifier/generators/color.generator.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: modify code according to discord rate limits
  .env.example
  .eslintrc.json
  Notifier/config.js
  Notifier/function.json
  Notifier/generators/color.generator.js
  Notifier/generators/host.generator.js
  Notifier/generators/image.generator.js
  Notifier/generators/index.js
  Notifier/index.js
  Notifier/providers/clist.provider.js
  Notifier/providers/dare2compete.provider.js
  Notifier/providers/devpost.provider.js
  Notifier/tuners/dates.tuner.js
  package.json
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

fix(refactor): move config to tuner
  .gitignore
  Notifier/generators/color.generator.js
  Notifier/generators/image.generator.js
  Notifier/generators/index.js
  Notifier/index.js
  Notifier/providers/clist.provider.js
  Notifier/tuners/config.tuner.js
  Notifier/tuners/index.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: shortcircuit does not ignore exceptions
  Notifier/generators/host.generator.js
  Notifier/tuners/config.tuner.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: kill zombie chromium instances
  Notifier/index.js
  package.json
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

chore(cd): remote build required for puppeteer
  .github/workflows/azure-functions.yml
  .github/workflows/main_hackremind.yml
Due: none

chore(cd): use yarn instead of npm
  .github/workflows/azure-functions.yml
Due: none

fix: update function ignore
  .funcignore
Due: none

chore(cd): modify workflow to reduce deployment size
  .github/workflows/azure-functions.yml
Due: none

chore: add commitlint config to funcignore
  .funcignore
  .lintstagedrc.json
Due: jsonlint, prettier --write

fix: minor fixes (spacing and color)
  Notifier/generators/color.generator.js
  Notifier/generators/text.generator.js
Due: eslint --fix, eslint --fix --max-warnings 0

chore(cd): package resolution will be handled by remote
  .github/workflows/azure-functions.yml
Due: none

fix: issue with duplicate reminders
  Notifier/index.js
  Notifier/tuners/dates.tuner.js
  Notifier/tuners/index.js
Due: eslint --fix, eslint --fix --max-warnings 0

feat: directly use puppeteer instead of capture-website
  Notifier/generators/color.generator.js
  Notifier/generators/index.js
  Notifier/index.js
  package.json
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

fix: fallback to img url if website is not accessible
  Notifier/generators/color.generator.js
  Notifier/generators/index.js
  Notifier/generators/text.generator.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: add more fallbacks to color generator
  Notifier/generators/color.generator.js
  Notifier/generators/index.js
  package.json
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

fix: make color look pleasing
  Notifier/generators/color.generator.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: handle urls where content-type is not set
  Notifier/generators/color.generator.js
Due: eslint --fix, eslint --fix --max-warnings 0

chore(ci): don't deploy if no source code file is changed
  .github/workflows/azure-functions.yml
  .github/workflows/codeql-analysis.yml
Due: none

fix: remove unnecessary quotes from yml files
  .github/workflows/azure-functions.yml
  .github/workflows/codeql-analysis.yml
Due: none

docs: add readme
  readme.md
Due: prettier --write, markdownlint --fix

docs: change inline links to reference links
  package.json
  readme.md
  yarn.lock
Due: prettier-package-json --write, jsonlint, prettier --write, markdownlint --fix

docs: fix table column width
  readme.md
Due: prettier --write, markdownlint --fix

fix: reduce table column width
  readme.md
Due: prettier --write, markdownlint --fix

docs: add notes
  readme.md
Due: prettier --write, markdownlint --fix

docs: split sentence
  readme.md
Due: prettier --write, markdownlint --fix

docs: update readme
  readme.md
Due: prettier --write, markdownlint --fix

docs: fix broken link
  readme.md
Due: prettier --write, markdownlint --fix

fix: wait till network idle instead of load
  Notifier/generators/color.generator.js
Due: eslint --fix, eslint --fix --max-warnings 0

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: {*.js,www}
  jsonlint: (any of: {*.json,.eslintrc,.prettierrc}) or (any of: *.json)
  prettier --write: ((any of: {*.json,.eslintrc,.prettierrc}) or (any of: *.md)) or ((any of: *.json) or (any of: *.md))
  markdownlint --fix: any of: *.md
  eslint --fix --max-warnings 0: (any of: *.js) or (any of: bin/*)
