Repository ikcb/hackremind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, markdownlint --fix, eslint --fix --max-warnings 0

.lintstagedrc:

{
  "package.json": "prettier-package-json --write ",
  "{*.js,www}": "eslint --fix",
  "{*.json,.eslintrc,.prettierrc}": [
    "jsonlint",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write",
    "markdownlint --fix"
  ]
}

.lintstagedrc.json:

{
  "package.json": "prettier-package-json --write ",
  "*.js": "eslint --fix --max-warnings 0",
  "*.json": ["jsonlint", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"],
  "*.yml": "prettier --write"
}

fix: add default mongodb uri and kill chrome only on prod
  Notifier/generators/color.generator.js
  Notifier/tuners/config.tuner.js
  readme.md
Due: eslint --fix, prettier --write, markdownlint --fix, eslint --fix --max-warnings 0

docs: add instructions to modify webhook
  package.json
  readme.md
Due: prettier-package-json --write, jsonlint, prettier --write, markdownlint --fix

docs: add license
  LICENSE
Due: none

docs: rename readme to README
  README.md
Due: prettier --write, markdownlint --fix

docs: update readme
  README.md
Due: prettier --write, markdownlint --fix

chore(ci): add lint check to pipeline
  .github/workflows/codeql-analysis.yml
Due: prettier --write

chore(ci): move lint to different workflow
  .github/workflows/codeql-analysis.yml
  .github/workflows/run-lint-checks.yml
Due: prettier --write

feat: autopublish messages after announcing
  Notifier/index.js
  Notifier/tuners/config.tuner.js
  package.json
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

docs(v2.0.0): update documentation
  .env.example
  README.md
  package.json
Due: prettier-package-json --write, jsonlint, prettier --write, markdownlint --fix

fix: delay start by 2 mins, ensures will never run on 0:0:0.0
  Notifier/function.json
Due: jsonlint, prettier --write

chore(ci): dont trigger codeql on json modifications
  .github/workflows/codeql-analysis.yml
Due: prettier --write

Revert "fix: delay start by 2 mins, ensures will never run on 0:0:0.0"
  Notifier/function.json
Due: jsonlint, prettier --write

fix: use square bullet for level-3 nested lists
  Notifier/generators/text.generator.js
Due: eslint --fix, eslint --fix --max-warnings 0

docs: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write, markdownlint --fix

docs: add code of conduct
  CODE_OF_CONDUCT.md
Due: prettier --write, markdownlint --fix

docs: fix lint issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CODE_OF_CONDUCT.md
Due: prettier --write, markdownlint --fix

docs: add timezone info
  README.md
Due: prettier --write, markdownlint --fix

fix: let the developer choose the timezone
  Notifier/tuners/dates.tuner.js
Due: eslint --fix, eslint --fix --max-warnings 0

chore(ci): change workflow name
  .github/workflows/azure-functions.yml
Due: prettier --write

chore(ci): re-create app
  .funcignore
  .github/workflows/azure-functions.yml
  .vscode/settings.json
  .vscode/tasks.json
Due: jsonlint, prettier --write

fix: handle text if it contains only entities not tags
  Notifier/generators/text.generator.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: handle non-standard but common list markup
  Notifier/generators/text.generator.js
Due: eslint --fix, eslint --fix --max-warnings 0

chore(ci): rename lint step
  .github/workflows/run-lint-checks.yml
Due: prettier --write

fix: make provider configurations optional
  Notifier/tuners/config.tuner.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: issues with datetimes
  .eslintrc.json
  Notifier/index.js
  Notifier/providers/clist.provider.js
  Notifier/providers/dare2compete.provider.js
  Notifier/providers/devfolio.provider.js
  Notifier/providers/devpost.provider.js
  Notifier/tuners/dates.tuner.js
  Notifier/tuners/index.js
Due: eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

fix: intercept context and use console
  .eslintrc.json
  Notifier/index.js
  Notifier/tuners/index.js
  Notifier/tuners/intercept.tuner.js
Due: eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

feat: refactor and improve clist code
  Notifier/providers/clist.provider.js
  Notifier/tuners/config.tuner.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: refactor and improve dare2compete code
  Notifier/index.js
  Notifier/providers/dare2compete.provider.js
  Notifier/tuners/config.tuner.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: refactor and improve providers code
  Notifier/providers/dare2compete.provider.js
  Notifier/providers/devfolio.provider.js
  Notifier/providers/devpost.provider.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: refactor tuners
  Notifier/tuners/config.tuner.js
  Notifier/tuners/hosts.tuner.js
  Notifier/tuners/index.js
  Notifier/tuners/intercept.tuner.js
  Notifier/tuners/utils.tuner.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: refactor color generator
  Notifier/generators/color.generator.js
  package.json
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

fix: finished refactoring generators and tuners
  .eslintrc.json
  Notifier/generators/index.js
  Notifier/generators/text.generator.js
  Notifier/tuners/config.tuner.js
  Notifier/tuners/index.js
  Notifier/tuners/intercept.tuner.js
  Notifier/tuners/utils.tuner.js
Due: eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

fix: refactored all providers
  .eslintrc.json
  Notifier/index.js
  Notifier/models/index.js
  Notifier/providers/clist.provider.js
  Notifier/providers/dare2compete.provider.js
  Notifier/providers/devfolio.provider.js
  Notifier/providers/devpost.provider.js
  Notifier/providers/index.js
  Notifier/providers/skillenza.provider.js
  assets/icons/skillenza_com.png
  package.json
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0

fix: finished refactoring code
  Notifier/index.js
  Notifier/models/index.js
  Notifier/providers/clist.provider.js
  Notifier/providers/dare2compete.provider.js
  Notifier/providers/devfolio.provider.js
  Notifier/providers/devpost.provider.js
  Notifier/providers/index.js
  Notifier/providers/skillenza.provider.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: add skillenza specific patches
  Notifier/generators/index.js
  Notifier/generators/text.generator.js
  Notifier/providers/dare2compete.provider.js
  Notifier/providers/devpost.provider.js
  Notifier/providers/index.js
  Notifier/providers/skillenza.provider.js
Due: eslint --fix, eslint --fix --max-warnings 0

fix: minor fine tunings for skillenza
  Notifier/generators/text.generator.js
  Notifier/providers/dare2compete.provider.js
  Notifier/providers/devfolio.provider.js
  Notifier/providers/skillenza.provider.js
  package.json
  yarn.lock
Due: prettier-package-json --write, eslint --fix, jsonlint, prettier --write, eslint --fix --max-warnings 0
